<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="company_data" label="COM_DORY_CONFIG_FIELDSET_COMPANY_DATA_LABEL"
        description="COM_DORY_CONFIG_FIELDSET_COMPANY_DATA_DESCRIPTION">
        <field
            type="text"
            label="COM_DORY_CONFIG_COMPANY_NAME_LABEL"
            description="COM_DORY_CONFIG_COMPANY_NAME_DESCRIPTION"
        />
        <field
            type="text"
            label="COM_DORY_CONFIG_COMPANY_ADDRESS_LABEL"
            description="COM_DORY_CONFIG_COMPANY_ADDRESS_DESCRIPTION"
        />
        <field
            type="text"
            label="COM_DORY_CONFIG_COMPANY_ID_LABEL"
            description="COM_DORY_CONFIG_COMPANY_ID_DESCRIPTION"
        />
    </fieldset>
</config>